<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Are you registered now!</h2>
    <p>Login details</p>
    <p>Email: <%= @user.email %></p>
    <p>Token: <%= @user.token %></p>
  </body>
</html>
